<h1>Health Tracker</h1>


<h3>navigation</h3>



<p>

  <%= link_to 'Weight', weights_path %> </br>

  <%= link_to 'Calories Consumed', consumed_cals_path %> </br>

  <%= link_to 'Excercises', excercises_path %> </br>

  <%= link_to 'Steps', excercises_path %></br>
</p>
